body {
  margin: 0;
  padding: 2rem;
  font-family: sans-serif;
}
.center {
  display: flex;
  justify-content: center;
}
.py-1 {
  padding: 2rem 0rem 2rem 0rem;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.row {
  display: flex;
  flex-direction: row;
}
